/*?INDEX*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    background-color: #004d40;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 20px;
}

/* Estilos para la sección de Productos Destacados */
/* Estilos básicos del carrusel */
.carousel {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.slick-list {
    overflow: hidden;
    width: 100%;
}

.slick-track {
    display: flex !important;
}

.producto {
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.producto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
}

.producto h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.producto p {
    font-size: 1em;
    margin: 0.5em 0;
    color: #555;
}

.producto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #0056b3;
}

/* Ajustes para los puntos de navegación */
.slick-dots {
    bottom: -30px;
}

.slick-prev, .slick-next {
    color: black;
}

/*!CATEGORIAS*/

main {
    background-color: #fdfffe;
}

main h2 {
    text-align: center;
}


.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.categorias .categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #004d40;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.categorias .categoria img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.categorias .categoria ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categorias .categoria ul li {
    margin: 10px 0;
}

.categorias .categoria a {
    font-size: 1em;
    color: #004d40;
    text-decoration: none;
}

/*CAMISETAS*/
/* Estilos específicos para la sección de Camisetas */
.camisetas .productos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.camisetas .producto {
    background-color: rgba(219, 168, 0, 0.897);
    border: 2px solid rgb(219, 144, 4);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.camisetas .producto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
}

.camisetas .producto h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #003366;
}

.camisetas .producto p {
    font-size: 1em;
    margin: 0.5em 0;
    color: #555;
}

.camisetas .producto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.camisetas .producto button:hover {
    background-color: #cc0000;
}

/*BALONES*/
/* Estilos específicos para la sección de Balones */
.balones .productos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.balones .producto {
    background-color: rgba(219, 168, 0, 0.897);
    border: 2px solid rgb(219, 144, 4);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.balones .producto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
}

.balones .producto h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #003366;
}

.balones .producto p {
    font-size: 1em;
    margin: 0.5em 0;
    color: #555;
}

.balones .producto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.balones .producto button:hover {
    background-color: #cc0000;
}

/*ACCESORIOS*/
/* Estilos específicos para la sección de Accesorios */
.accesorios .productos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.accesorios .producto {
    background-color: rgba(219, 168, 0, 0.897);
    border: 2px solid rgb(219, 144, 4);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.accesorios .producto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
}

.accesorios .producto h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #003366;
}

.accesorios .producto p {
    font-size: 1em;
    margin: 0.5em 0;
    color: #555;
}

.accesorios .producto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.accesorios .producto button:hover {
    background-color: #cc0000;
}

/*ALINEACION DE PRODUCTOS*/
/* Ajustes para alinear productos */
.camisetas .producto,
.balones .producto,
.accesorios .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Asegura que todos los productos ocupen el mismo espacio vertical */
}

.camisetas .productos-container,
.balones .productos-container,
.accesorios .productos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.camisetas .producto img,
.balones .producto img,
.accesorios .producto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
}

.camisetas .producto h3,
.balones .producto h3,
.accesorios .producto h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #003366;
}

.camisetas .producto p,
.balones .producto p,
.accesorios .producto p {
    font-size: 1em;
    margin: 0.5em 0;
    color: #555;
}

.camisetas .producto button,
.balones .producto button,
.accesorios .producto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.camisetas .producto button:hover,
.balones .producto button:hover,
.accesorios .producto button:hover {
    background-color: #cc0000;
}

/*!CARRITO*/

#carrito-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

#carrito-container .producto {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

#carrito-container .producto:last-child {
    border-bottom: none;
}

#carrito-container .producto img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
}

#carrito-container .producto h3 {
    flex: 1;
    margin: 0 20px;
}

#carrito-container .producto p {
    color: #003366;
    font-size: 16px;
    margin: 0;
}

#carrito-container .producto button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: space-between;
}

#carrito-container .producto button:hover {
    background-color: #cc0000;
}

#total-container {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
}

#total {
    color: #003366;
    font-weight: bold;
}

/*?CONTACTO*/
#contacto {
    color: black;
    flex-direction: column;
    text-align: center;
    border: none;
}

#contacto .form-contacto {
    color: black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacto .form-contacto div {
    padding: 5px;
    color: rgb(48, 88, 122);
    font-weight: 500px;
    font-size: 20px;
}

#contacto .form-contacto div input {
    width: 160px;
    border: rgb(136, 63, 63) 1px solid;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    color: black;
    font-weight: 200px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: black;
}

/*?FOOTER*/
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1rem;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}